@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

* { box-sizing: border-box; }

html, body { height: 100%; }

button:disabled { opacity: .6; cursor: not-allowed; }
